html {
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
}

header {
    display: flex;
    align-content: center;
    background-color: rgb(255, 29, 67);
    column-gap: 1%;
    position: fixed;
    width: 100%;
    height: 11.5%;
    justify-content: center;
    left: 1;
    right: 1;
    border-radius: 1%;
    z-index: 2;
}


div {
    
}

nav {
    display: flex;
    
    justify-content: center;
    column-gap: 15%;

}

nav a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    background-color: white;
    text-align: center;
    border-radius: 30%;
    padding: 1px;

}

.bar {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 29, 67);
    justify-content:right;
    height: fit-content;
    border-radius: 5%;
    
}

.headerMiddle {
    flex-grow: 10;
    align-self: center;
    width: 75%
}

.headerLeft {
    justify-content: left;
    position: relative;
    background-color: black;
    align-self: center;
    height: 100px;
    background-size: 70%;
    padding-bottom: 6px;
    
}
.picture {
    position: relative;
    width: 60%;
    height: auto;
    display: block;
    align-self: center;
    left: 25%;
    border: 2px;
    border-style: groove;
    border-color: purple;

}

.homeUpper {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
}

.opaque {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.568);
    z-index: 1;
    width: 45%;
    align-self: center;
    left: 26%;
    top: 11%;
    font-size: smaller;
}

.layout {
    display: flex;
    column-gap: 5%;
    width: 100%;
    margin-top: 5%;

}

.dates {
    margin-left: 1%;
    width: 20%;
    font-size: medium;
    text-align: center;
    border: 2px;
    border-style: groove;
    border-color: purple;
}

.vertical {
    display: flex;
    flex-direction: column;
    width: 65%;
}

.text {
    position: absolute;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.733);
    margin-left: 15%;
    margin-top: 20%;
    font-size: large;
    z-index: 1;
    
}

.photo {
    width: 100%;
    position: relative;
    z-index: 0;
    line-height: 0%;
    border: 2px;
    border-style: groove;
    border-color: purple;
}

footer {
    text-align: center;
}


@media all and (max-width: 720px) and (min-width: 481px) {
    header {
        display: flex;
        align-content: center;
        background-color: rgb(255, 29, 67);

        position: fixed;
        width: 100%;
        height: 11.5%;
        justify-content: center;
        left: 1;
        right: 1;
        border-radius: 1%;
        z-index: 2;
    }
    
    
    div {
        
    }
    
    nav {
        display: flex;
        
        justify-content: center;
        column-gap: 6%;
    
    }
    
    nav a {
        text-decoration: none;
        color: black;
        font-size: 19px;
        background-color: white;
        text-align: center;
        border-radius: 30%;
        padding: 1px;
    
    }
    
    .bar {
        display: flex;
        flex-direction: column;
        background-color: rgb(255, 29, 67);
        justify-content:right;
        height: fit-content;
        border-radius: 5%;
        
    }
    
    .headerMiddle {
        flex-grow: 10;
        align-self: center;
        width: 75%
    }
    
    .headerLeft {
        justify-content: left;
        position: relative;
        background-color: black;
        align-self: center;
        height: 100px;
        background-size: 70%;
        padding-bottom: 6px;
        
    }
    .picture {
        position: relative;
        width: 60%;
        height: auto;
        display: block;
        align-self: center;
        left: 25%;
        border: 2px;
        border-style: groove;
        border-color: purple;
    
    }
    
    .homeUpper {
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: row;
    }
    
    .opaque {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.568);
        z-index: 1;
        width: 45%;
        align-self: center;
        left: 26%;
        top: 11%;
        font-size: smaller;
    }
    
    .layout {
        display: flex;
        column-gap: 5%;
        width: 100%;
        margin-top: 5%;
    
    }
    
    .dates {
        margin-left: 1%;
        width: 20%;
        font-size: medium;
        text-align: center;
        border: 2px;
        border-style: groove;
        border-color: purple;
    }
    
    .vertical {
        display: flex;
        flex-direction: column;
        width: 65%;
    }
    
    .text {
        position: absolute;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.733);
        margin-left: 15%;
        margin-top: 20%;
        font-size: large;
        z-index: 1;
        
    }
    
    .photo {
        width: 100%;
        position: relative;
        z-index: 0;
        line-height: 0%;
        border: 2px;
        border-style: groove;
        border-color: purple;
    }
    

}

@media all and (max-width: 480px) {
    header {
        display: flex;
        align-content: center;
        background-color: rgb(255, 29, 67);

        position: fixed;
        width: 100%;
        height: 11.5%;
        justify-content: center;
        left: 1;
        right: 1;
        border-radius: 1%;
        z-index: 2;
    }
    
    
    div {
        
    }
    
    nav {
        display: flex;
        
        justify-content: center;
        column-gap: 6%;
    
    }
    
    nav a {
        text-decoration: none;
        color: black;
        font-size: 10px;
        background-color: white;
        text-align: center;
        border-radius: 30%;
        padding: 1px;
    
    }
    
    .bar {
        display: flex;
        flex-direction: row;
        background-color: rgb(255, 29, 67);
        justify-content: center;
        align-self: self-end;
        height: fit-content;
        border-radius: 5%;
        position: absolute;
        top: 3px;
        left: 216px;
        
    }
    
    .headerMiddle {
        flex-grow: 10;
        align-self: center;
        width: 75%;
        top: 65px;
        position: absolute;
        left: 161px;
    }
    
    .headerLeft {
        justify-content: left;
        position: absolute;
        background-color: black;
        align-self: center;
        height: 100px;
        background-size: 70%;
        padding-bottom: 6px;
        left: 0px;
        bottom: -1px;
    }
    .picture {
        position: relative;
        width: 60%;
        height: auto;
        display: block;
        align-self: center;
        left: 25%;
        border: 2px;
        border-style: groove;
        border-color: purple;
    
    }
    
    .homeUpper {
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: row;
    }
    
    .opaque {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.568);
        z-index: 1;
        width: 45%;
        align-self: center;
        left: 26%;
        top: 11%;
        font-size: smaller;
    }
    
    .layout {
        display: flex;
        column-gap: 5%;
        width: 100%;
        margin-top: 5%;
    
    }
    
    .dates {
        margin-left: 1%;
    width: 20%;
    font-size: medium;
    text-align: center;
    border: 2px;
    border-style: groove;
    border-color: purple;
    top: 108px;
    position: absolute;
    }
    
    .vertical {
        display: flex;
        flex-direction: column;
        width: 65%;
    }
    
    .text {
        position: absolute;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.733);
        margin-left: 129px;
        margin-top: 131px;
        font-size: small;
        z-index: 1;
        
    }
    
    .photo {
        width: 100%;
    position: relative;
    z-index: 0;
    line-height: 0%;
    border: 2px;
    border-style: groove;
    border-color: purple;
    top: 46px;
    left: 116px;
    }

}
